@charset "utf-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 20px; 
    font-weight: 300;
    background-color: #fff6d7;
}

.logo {
    width: 300px;
    margin-top: 12px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}


.big-bg {
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: center;
    width: 100%;
    height: 450px;
}

.main-key {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: #8a5233;
}

#concept p {
    padding: 10px 0;
    margin: 10px 0;
}


section img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

main {
    text-align: center;
    padding: 50px 40px;
}

section {
    margin: 80px 0;
}

.link {
    color: #44a06d;
    text-align: center;
    text-decoration-line: underline;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu {
    max-width: 900px;
    padding: 10px 30px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}

#menu .about {
   padding: 20px 0 50px 0;
   text-decoration-line: underline;
}

.menu-list {
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
}

.menu-list p {
    font-size: 17px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 0;
}

.menu-item .name {
    flex: 0 0 auto;
    white-space: nowrap;
    font-weight: 600;
}

.dots {
    flex: 1;
    border-bottom: 2px dotted #000000;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-item .price {
    flex: 0 0 auto;
    font-weight: 500;
    color: #8a5233;
}

.menu-list p {
    color: #333;
    display: flex;
    padding: 10px 0 10px 0;

}

#menu img {
    margin: 30px 0 20px 0;

}

.access-list {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    text-align: left;
    line-height: 2.0;
}

.access-list li {
    margin: 6px 0;
}

.info-list {
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
    display: inline-block;
    text-align: left;
    line-height: 2.0;
    list-style-type: none;
}

.info-list {
    text-align: center;
}

.copyright {
    text-align: center;
}

footer {
    background-color: #805b45;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}
