@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 20px; 
    font-weight: 300;
    background-color: #fff6d7;
}

.logo {
    width: 100px;
    margin-top: 10px;
    margin-left: 30px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    background-color: #fff6d7;
}


.big-bg {
    background-image: url(image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: center top;
    width: 100%;
    height: 500px;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-top: 40px;
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: #805b45;
  font-size: 18px;
  font-weight: 500;
}

.nav a:hover {
  opacity: 0.7;
}

.main-key {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: #8a5233;
}

#concept p {
    padding-top: 10px;
    padding-bottom: 90px;
    margin: 10px 0;
}


section img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

main {
    text-align: center;
    padding: 50px 40px;
}

section {
    margin: 80px 0;
}

.link {
    font-size: 30px;
    color: #44a06d;
    text-align: center;
    text-decoration-line: underline;
    padding-top: 50px;
    padding-bottom: 20px;
}

#menu {
    max-width: 900px;
    padding: 10px 30px;
    margin: 40px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}

#menu .about {
   padding: 20px 50px ;
   line-height: 1.8;
   text-decoration-line: underline;
}

.menu-list {
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
}

.menu-list p {
    font-size: 17px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    padding: 10px 0;
}

.menu-item .name {
    flex: 0 0 auto;
    white-space: nowrap;
    font-weight: 600;
}

.dots {
    flex: 1;
    border-bottom: 2px dotted #000000;
    height: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-item .price {
    flex: 0 0 auto;
    font-weight: 500;
    color: #8a5233;
}

.menu-list p {
    color: #333;
    display: flex;
    padding: 10px 0 10px 0;

}

#menu img {
    margin: 30px 0 20px 0;
}

#cafe-space p {
  line-height: 1.8;
  padding-bottom: 90px;
}

 .access-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
  }

  .access-left {
    flex: 1;
  }

  .access-map {
    flex: 1;
  }


.access-list {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    text-align: left;
    line-height: 2.0;
}

.access-list li {
    margin: 6px 0;
}

.info-list {
    font-size: 18px;
    margin: 20px auto;
    text-align: center;
    display: inline-block;
    line-height: 2.0;
    list-style-type: none;
}

.info-list {
    text-align: center;
}

.copyright {
    text-align: center;
}

footer {
    background-color: #805b45;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}

/* スマホ対応 */
@media (max-width: 768px) {

  body {
    font-size: 16px;
    padding: 0 10px;
  }

  .page-header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .logo {
    width: 50px;
    margin: 20px 0;
    margin-left: 10px;
  }


  .big-bg {
    background-image: url(banner2.jpg);
    width: 100%;
    height: 350px;
  }

  main {
    padding: 30px 10px;
  }

  section img {
    width: 100%;
    height: auto;
  }

  .menu-item {
    flex-direction: column; 
    align-items: flex-start;
    gap: 5px;
  }

  .menu-item .name,
  .menu-item .price {
    font-size: 16px;
  }

  .menu-list {
    padding: 0;
  }

  #menu {
    width: 100%;
    padding: 20px 10px;
  }

  .info-list {
    margin-right: 30px;
  }

  .access-box {
    flex-direction: column;
    align-items: center;
  }

  .access-box {
    flex-direction: column;
  }

  .access-map iframe {
    height: 250px;
  }


  footer {
    padding: 10px;
    font-size: 14px;
  }
}
